@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Raleway&display=swap');

*::selection {
    background-color: white;
}

:is(h1, h2, h3, h4, h5, p, a, button, div) {
    outline: none;
    color: forestgreen;
    font-family: "Jersey 15", serif;
    font-weight: 400;
}

:is(section, header, footer, aside) {
    background: transparent;
}

body {
    background-color: black;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

header {
    height: 150px;
}

.header__inner {
    height: 150px;
    border-bottom: 5px solid forestgreen;
    border-radius: 0.1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    color: forestgreen;
    font-size: 40px;
    transition: 200ms ease;
}

.header-logo:is(:hover, :focus) {
    text-shadow: 13px 13px lawngreen;
    color: forestgreen;
    font-size: 45px;
    transition: 200ms ease;
}

.header-logo:active {
    text-shadow: none;
    color: rgb(46, 160, 46);
    font-size: 30px;
    transition: 100ms ease;
}

.header-logo span {
    position: relative;
    bottom: 0;
    display: inline-block;
    transform: rotate(270deg);
    width: 24px;
}

.nav {
    width: 400px;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}

.nav li a {
    transition: 200ms ease;
}

.nav li a:is(:hover, :focus) {
    color: forestgreen;
    font-size: 35px;
    transition: 200ms ease;
}

.nav li:not(:first-child, :last-child) a:is(:hover, :focus) {
    text-shadow: 0 13px lawngreen;
}

.nav li:first-child a:is(:hover, :focus) {
    text-shadow: -13px 13px lawngreen;
}

.nav li:last-child a:is(:hover, :focus) {
    text-shadow: 13px 13px lawngreen;
}

.nav li a:active {
    text-shadow: none;
    color: rgb(46, 160, 46);
    font-size: 20px;
    transition: 100ms ease;
}


.hero {
    height: max(calc(100vh - 150px), 500px);
    padding: 50px 0;
}

.hero__inner h1 {
    font-size: 35px;
    padding-bottom: 5px;
}

.hero__inner h2 {
    font-size: 28px;
    padding-bottom: 15px;
}

.hero__cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.hero__inner p {
    width: 200px;
    font-size: 23px;
}


.sneak {
    height: 600px;
}

.sneak__inner {
    position: relative;
    height: 600px;
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid forestgreen;
}
.sneak__inner::before {
    content: "_Sneak__";
    position: absolute;
    font-size: 42px;
    z-index: 11;
    top: -42px;
}

.sneak__left,
.sneak__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 50%;
}

.sneak-place,
.cells {
    height: 445px;
    width: 445px;
    display: grid;
    grid-template-columns: repeat(16, 25px);
    grid-template-rows: repeat(16, 25px);
    gap: 3px;
}

.sneak-place {
    z-index: 10;
}

.cells {
    position: absolute;
    top: 0;
    background-color: black;
}

.sneak-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 35px;
    font-size: 20px;
    background-color: black;
    border: 3px solid forestgreen;
    transition: 300ms ease-in-out;
    margin-bottom: 20px;
}

.sneak-btn:is(:hover) {
    width: 125px;
    height: 50px;
    font-size: 25px;
    transition: 300ms ease-in-out;
    margin-bottom: 10px;
    animation: sneak-btn 2s infinite alternate ease-in-out;
}

@keyframes sneak-btn {
    50% {
        transform: rotate(20deg);
    }

    100% {
        transform: rotate(-20deg);
    }
}

.sneak-btn:active {
    width: 80px;
    height: 30px;
    font-size: 20px;
    animation: none;
    transform: rotate(0);
    transition: 300ms ease-in-out;
}

.cell,
.player {
    height: 25px;
    width: 25px;
    background-color: forestgreen;
    border-radius: 0.1rem;
}

.player, .player-tail {
    background-color: rgb(255, 99, 71);
    border-radius: 0.5rem;
    grid-column: 2;
    grid-row: 2;
    z-index: 11;
    transition: all 200ms ease;
}

.apple {
    background-color: crimson;
    border-radius: 0.5rem;
    grid-column: 2;
    grid-row: 2;
}

.sneak__right {
    align-items: center;
    justify-content: flex-start;
}

.score {
    font-size: 36px;
    animation: sneak-score 2.5s infinite alternate ease-in-out;
    margin-bottom: 20px;
}

@keyframes sneak-score {
    50% {
        transform: rotate(15deg);
    }

    100% {
        transform: rotate(-15deg);
    }
}

.sneak-info {
    position: relative;
    height: 115px;
    width: 185px;
    align-self: start;
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(2, 50px);
    gap: 20px;
}

.sneak-info::after {
    content: "Click buttons or keyboard for moving!";
    position: absolute;
    left: 250px;
    font-size: 28px;
    width: 200px;
}

.sneak-key {
    position: relative;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    background-color: black;
    border: 1px solid forestgreen;
    box-shadow: forestgreen 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    -ms-user-select: none;
    user-select: none;
    transition: 100ms all ease-in-out;
}

.sneak-key:hover {
    font-size: 20px;
    height: 53px;
    width: 53px;
    border: 1px solid forestgreen;
    box-shadow: forestgreen 10px 10px;
    transition: 100ms all ease-in-out;
}

.sneak-key:active {
    height: 50px;
    width: 50px;
    top: 5px;
    left: 5px;
    border: 1px solid rgb(16, 109, 16);
    box-shadow: rgb(16, 109, 16) 5px 5px;
    transition: 100ms all ease-in-out;
}

.sneak-w {
    grid-column: 2;
}

.sneak-a {
    grid-column: 1;
    grid-row: 2;
}

.sneak-s {
    grid-column: 2;
    grid-row: 2;
}

.sneak-d {
    grid-column: 3;
    grid-row: 2;
}



footer {
    height: 250px;
}

.footer__inner {
    height: 250px;
    border-top: 5px solid forestgreen;
    border-radius: 0.1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}