footer {
    height: 250px;
    padding-top: 50px;
}

.footer__inner {
    height: 250px;
    border-top: 5px solid forestgreen;
    border-radius: 0.1rem;
    @include flex;

    a {
        color: forestgreen;
    }
}